.profile-info, .change-password {
  padding: 50px 100px;
}

.change-password-error {
  
  margin: 15px;
  padding: 14px 20px 14px;
  border-radius: 5px;
  width: 100%;
  background-color: #ca3535;
  color: #fff;
}