<div class="admin-section">
    <span [appSecurity]="['admin', 'super admin']" class='vt-section-title'><h5>{{app | ucfirst}}  <span class='add-course-icon'><a [routerLink]="['/user/new']"><i class="fa fa-user-plus"></i></a></span></h5></span>
    <span class='row'>
      <span class="col-md-12 d-content">
        <span class="portlet">
          <div class="m-datatable">
            <table class="m-datatable-table">
              <thead class="m-datatable-head">
                <tr class="m-datatable-row">
                  <th class="m-datatable-cell m-datatable-cell-check m-datatable-center">
                    <span>
                      <label class="m-checkbox">
                        <input type="checkbox">
                        <span ></span>
                      </label>
                    </span>
                  </th>
                  <th class="m-datatable-cell m-datatable-cell-email">
                    <span>Email</span>
                  </th>
                  <th class="m-datatable-cell m-datatable-cell-name">
                    <span>Name</span>
                  </th>
                  <th class="m-datatable-cell m-datatable-cell-verified">
                    <span>Verified?</span>
                  </th>
                  <th class="m-datatable-cell m-datatable-cell-role">
                    <span>Role</span>
                  </th>
                  <th class="m-datatable-cell m-datatable-cell-action">
                    <span>&nbsp;</span>
                  </th>
                </tr>
              </thead>
              <tbody class="m-datatable-body">
                <tr class="m-datatable-row" *ngFor="let user of users; let i = index">
                    <td class="m-datatable-cell m-datatable-cell-check m-datatable-center">
                      <span>
                        <label class="m-checkbox">
                          <input type="checkbox" value="1">
                          <span >
                          </span>
                      </label>
                    </span>
                  </td>
                  <td class="m-datatable-cell m-datatable-cell-email" data-field="type">
                    <span> {{user.email}} </span>
                  </td>
                  <td class="m-datatable-cell m-datatable-cell-name">
                    <span>{{user.name}}</span>
                  </td>
                  <td class="m-datatable-cell m-datatable-cell-verified">
                    <span>{{ user.isVerified === true ? 'Yes': 'No'}}</span>
                  </td>
                  <td class="m-datatable-cell m-datatable-cell-role" >
                    <div ngbDropdown class="d-inline-block">
                      <span class='tag tag-wide tag-{{user.role.name | slugify}}' id="dropdownBasic-{{i}}" ngbDropdownToggle>{{ user.role.name | ucfirst }}</span>
                      <div ngbDropdownMenu attr.aria-labelledby="dropdownBasic-{{1}}">
                        <button class="dropdown-item" *ngFor="let role of roles" (click)="onSetRole(user._id, role.name)">{{role.name}}</button>
                      </div>
                    </div>
                  </td>
                  <td class="m-datatable-cell m-datatable-cell-action">
                    <span>
                      <span (click)="onSendResetPassword(user)" style="margin-right: 8px;"><i class="fa fa-redo"></i></span>
                      <span [routerLink]="['/user', user._id, 'edit']"><i class="fa fa-edit"></i></span>
                      <span (click)="onDelete(user)"><i class="icon-trash"></i></span>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </span>
      </span>
    </span>
  </div>