<div class="login-wrapper" [ngClass]="{'form-success':signing}">
	<div class="login-container">
		<h1>Welcome</h1>
		<div class="zgroup"> 
      <div class="bigSqr">
        <div class="square first"></div>
        <div class="square second"></div>
        <div class="square third"></div>
        <div class="square fourth"></div>
      </div>
		</div>
		<div class='form-container'>
		
			<form class="form login-form" *ngIf="signin" (ngSubmit)="onSignin(f)" #f='ngForm'>
				<div class="login-error" *ngIf='loginError'>{{loginErrorMsg}}</div>
				<input type="text" placeholder="Email" ngModel name="email">
				<input type="password" placeholder="Password" ngModel name="password">

				<ngx-invisible-recaptcha #captchaElem
					[siteKey]="siteKey"
					(ready)="handleReady()"
					(load)="handleLoad()"
					(success)="handleSuccess($event)"
					[type]="type"
					[badge]="badge"
					[ngModel]="recaptcha"
					[ngModelOptions]="{ standalone: true }">
        </ngx-invisible-recaptcha>
				
				<button type="submit" id="login-button">Login</button>
			</form>
			<form class="form register-form" *ngIf="!signin" #f='ngForm'>
				
				<input type="text" placeholder="Email" ngModel name="email">
				<input type="password" placeholder="Password" ngModel name="password">
				<input type="password" placeholder="Confirm Password" ngModel name="confirm_password">
				<button type="submit" id="login-button">Sign Up</button>
			</form>
			<!-- <a href="#" *ngIf="signin" [routerLink]="['/signup']">Sign Up</a><a href="#" *ngIf="!signin" [routerLink]="['/login']">Sign In</a> -->
		</div>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>