<div class="login-wrapper" [ngClass]="{'form-success':signing, 'loading': loading}">
	<div class="containloader">
		<div class="background"></div> 
		<div class="zgroup"> 
			<div class="bigSqr">
				<div class="square first"></div>
				<div class="square second"></div>
				<div class="square third"></div>
				<div class="square fourth"></div>
			</div>
			
		</div>
	</div>
	<div class="login-container">
		<h1>Welcome</h1>
		<!-- <div class="zgroup"> 
      <div class="bigSqr">
        <div class="square first"></div>
        <div class="square second"></div>
        <div class="square third"></div>
        <div class="square fourth"></div>
      </div>
		</div> -->
		<div class='form-container'>
		
			<form class="form login-form" *ngIf="signin" (ngSubmit)="onSignin(f)" #f='ngForm'>
				<div class="login-error" *ngIf='loginError'>{{loginErrorMsg}}</div>
				<input type="text" placeholder="Email" ngModel name="email" required [email]="true">
				<input type="password" placeholder="Password" ngModel name="password" required>

				<!-- <ngx-invisible-recaptcha #captchaElem
					[siteKey]="siteKey"
					(ready)="handleReady()"
					(load)="handleLoad()"
					(success)="handleSuccess($event)"
					[type]="type"
					[badge]="badge"
					[ngModel]="recaptcha"
					[ngModelOptions]="{ standalone: true }">
        </ngx-invisible-recaptcha> -->
				
				<button type="submit" id="login-button" class="login-button" [disabled]="f.invalid">Login</button>
				<div class='option-line'>
					Or sign in with
				</div>
				<div class="social-button-container">
					<!-- <button id="twitter"></button> -->
					<button type="button" id="facebook" (click)="onFacebookLogin(e);"></button>
					<button type="button" id="googleplus" (click)="onGoogleLogin(e);"></button>
					<!-- <div  ></div> -->
				</div>
				<div class='option-line'>
					Don't have an account? <a [routerLink]="['/signup']"> Sign up</a>
				</div>
				<div class='option-line'>
					<a [routerLink]="['/forget-password']" [queryParams]="{seed : seed}">Forget your password?</a>
				</div>
			</form>
			<form class="form register-form" (ngSubmit)="onSignup(regf)" *ngIf="!signin" #regf='ngForm'>
					<div class="login-error" *ngIf='regError'>{{regErrorMsg}}</div>
				<input type="text" placeholder="Email" ngModel name="email" required [email]="true">
				<input type="text" placeholder="First Name" ngModel name="firstName" required>
				<input type="text" placeholder="Last Name" ngModel name="lastName" required>
				<input type="password" placeholder="Password" ngModel name="password" required>
				<input 	type="password" 
								placeholder="Confirm Password" 
								ngModel 
								name="confirm_password" 
								required 
								(blur)="onCheckPassword(regf)"> 
				<button type="submit" id="reg-button" class="reg-button" [disabled]="regf.invalid">Sign Up</button>
				<div class='option-line'>
						Or sign up with
					</div>
					<div class="social-button-container">
						<!-- <button id="twitter"></button> -->
						<button type="button" id="facebook" (click)="onFacebookLogin();"></button>
						<button type="button" id="googleplus" (click)="onGoogleLogin();"></button>
					</div>

					<div class='option-line' style='margin-top: 20px;'>
						<a [routerLink]="['/login']">Go back to login page</a>
					</div>
			</form>
		</div>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>