
<div class="create-wrapper" [ngClass]="{'form-success':signing}" *ngIf="valid; else elseBlock">
  <div class="create-container">
    <h1>Create Password</h1>
    <div class="zgroup"> 
      <div class="bigSqr">
        <div class="square first"></div>
        <div class="square second"></div>
        <div class="square third"></div>
        <div class="square fourth"></div>
      </div>
    </div>
    <div class='form-container'>
    
      <form class="form create-form" (ngSubmit)="onCreate(f)" #f='ngForm'>
        <div class="create-error" *ngIf='createError'>{{createErrorMsg}}</div>
        <input type="password" placeholder="Password" ngModel name="password" required>
        <input type="password" placeholder="Confirm Password" ngModel name="cPassword" (blur)="onCheckPassword(f)" required>
        <button type="submit" id="create-button" class="create-password" [disabled]="createError">Create Password</button>
      </form>
    </div>
  </div>
  
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<ng-template #elseBlock> 
  <div class="alert-box" style='display: none' #alertBox>
    <div class="alert alert-danger">
      Session expired, <a style="cursor: pointer" (click)="resend()">resend the validation link</a>
    </div>
  </div>
</ng-template>