
<div class="create-wrapper" [ngClass]="{'form-success':signing}" *ngIf="valid; else elseBlock">
  <div class="create-container">
    <h1>Create Password</h1>
    <div class="zgroup"> 
      <div class="bigSqr">
        <div class="square first"></div>
        <div class="square second"></div>
        <div class="square third"></div>
        <div class="square fourth"></div>
      </div>
    </div>
    <div class='form-container'>
    
      <form class="form create-form" (ngSubmit)="onCreate(f)" #f='ngForm'>
        <div class="create-error" *ngIf='createError'>{{createErrorMsg}}</div>
        <input type="password" placeholder="Password" ngModel name="password">
        <input type="password" placeholder="Confirm Password" ngModel name="cPassword">
        <button type="submit" id="create-button">Create Password</button>
      </form>
    </div>
  </div>
  
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<!-- <div class="row create-password" id="main" *ngIf="valid; else elseBlock">
  <span class="info-box">
    <div class="change-password">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group m-form__group row">
          <div class="change-password-error col-8" *ngIf='error'>{{errorMsg}}</div>
        </div>
        <div class="form-group m-form__group row">
          <div class="offset-md-3">
          </div>
          <div class="col-2">
            <label for="example-text-input" class="">
              Password
            </label>
          </div>   
          <div class="col-4">
            <input class="form-control m-input m-input-large" type="password" [(ngModel)]="password" name='password' required #name="ngModel" required placeholder="Password">
          </div>
        </div>

        <div class="form-group m-form__group row">
          <div class="offset-md-3">
          </div>
          <div class="col-2">
            <label for="example-text-input" class="">
              Confirm Password
            </label>
          </div>   
          <div class="col-4">
            <input class="form-control m-input m-input-large" type="password" [(ngModel)]="confirmPassword" name='confirmPassword' required #name="ngModel" required placeholder="Confirm Password">
          </div>
        </div>

        <div class="form-group m-form__group">
          <div class="col-md-3 offset-md-7">
            <button class="btn btn-primary btn-upload btn-lg" multipart="" [disabled]="f.invalid">Submit</button> 
          </div>
        </div>
      </form>
    </div>
  </span>
</div> -->
<ng-template #elseBlock> 
  <div class="alert-box" style='display: none' #alertBox>
    <div class="alert-danger">
      Session expired, <a style="cursor: pointer" (click)="resend()">resend the validation link</a>
    </div>
  </div>
</ng-template>