<div class="admin-section">
  <span class='vt-section-title'><h5>{{app | ucfirst}}  <span class='add-course-icon'><a [routerLink]="['/course/new']"><i class="icon-plus"></i></a></span></h5></span>
  <span class='row'>
    <span class="col-md-12 d-content">
      <span class="portlet">
          <div class="m-datatable">
            <table class="m-datatable-table">
              <thead class="m-datatable-head">
                <tr class="m-datatable-row">
                  <th class="m-datatable-cell m-datatable-cell-check m-datatable-center">
                    <span>
                      <label class="m-checkbox">
                        <input type="checkbox">
                        <span ></span>
                      </label>
                    </span>
                  </th>
                  <th class="m-datatable-cell m-datatable-cell-codename">
                    <span>Code Name</span>
                  </th>
                  <th class="m-datatable-cell m-datatable-cell-title">
                    <span>Topic</span>
                  </th>
                  <th class="m-datatable-cell m-datatable-cell-category">
                    <span>Category</span>
                  </th>
                  <th class="m-datatable-cell m-datatable-cell-desc">
                    <span>Description</span>
                  </th>
                  <th class="m-datatable-cell m-datatable-cell-tags">
                    <span>Tags</span>
                  </th>
                  <th class="m-datatable-cell m-datatable-cell-date">
                    <span>Date</span>
                  </th>
                  
                </tr>
              </thead>
              <tbody class="m-datatable-body">
                <tr class="m-datatable-row" *ngFor="let course of courses">
                  <td class="m-datatable-cell m-datatable-cell-check m-datatable-center">
                    <span>
                      <label class="m-checkbox">
                        <input type="checkbox" value="1">
                        <span >
                        </span>
                    </label>
                  </span>
                </td>
                <td class="m-datatable-cell m-datatable-cell-codename" data-field="type">
                  <span>
                    <span> {{course.code_name}} </span>
                  </span>
                </td>
                <td class="m-datatable-cell m-datatable-cell-title">
                  <span>{{course.title}}</span>
                </td>
                <td class="m-datatable-cell m-datatable-cell-category">
                  <span class="">
                    {{course.category | ucfirst}}
                  </span>
                </td>
                <td class="m-datatable-cell m-datatable-cell-desc">
                  <span>{{course.desc}}</span>
                </td>
                <td class="m-datatable-cell m-datatable-cell-tags">
                  <span>
                    <span class='tag' *ngFor="let tag of course.tags">{{tag}}</span>
                  </span>
                </td>
                <td class="m-datatable-cell m-datatable-cell-date">
                  <span>
                    {{course.publishedDate | amDateFormat: 'YYYY-MM-DD'}}
                  </span>
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </span>
    </span>
  </span>
</div>