<section class="sp-section tutorial">
  <div class="container">
    <div class="title-icon">
      <img src="//www.qnap.com/assets/img/howto/support-index-icon-tutorial.png" alt="Tutorial" title="Tutorial">
    </div>
    <h3>Select The Category</h3>
    <p class="introduction">Pick a level that you really need</p>
    <div class="sp-s-container">
      <div class="row categories">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2" *ngFor="let category of categories; let i = index;" [ngClass]="{ 'offset-md-1': i===0}">
              <a [routerLink]="['/category/', category.name]">
                <span class='category-item' #cElement [ngStyle]="{'height': cGridWidth+'px', 'line-height': cGridWidth+'px'}">
                  {{category.name | ucfirst}}
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sp-section latest">
  <div class="container">
    <h4><span class="vt-section-title">Latest Video Tutorials</span></h4>
    <div class="col-md-12">
      <div class="row videos-section">
        <div class="col-md-5 video-item" *ngFor="let course of courses; let i = index;" [ngClass]="{'offset-md-1': (i % 2) === 0}">
          <div class="video-card">
            <div class="video-card-body">
              <div class="video-card-picture">
                <img alt="" src="{{'//img.youtube.com/vi/' + course.youtube_ref + '/mqdefault.jpg'}}">
                <a href="#"></a>
                <div class="video-stats clearfix">
                  <div class="thumb-stats pull-left">
                      <span>{{course.code_name}}</span>
                  </div>
                  <div class="thumb-stats pull-left">
                      <i class="fa fa-heart"></i>
                      <span>{{course.like}}</span>
                  </div>
                  <div class="thumb-stats pull-right">
                      <span>{{course.duration | momentDuration}}</span>
                  </div>
                </div>
              </div>
              <div class="video-card-content">
                <div class="video-card-content-header">
                  <div class="header-info">
                    {{course.title}}
                  </div>
                  <div class="header-stats">
                    <div class="header-stats-number">
                      {{course.watched}}
                    </div>
                    <div class="header-stats-comment">
                      Watched
                    </div>
                  </div>
                </div>
                <div class="video-card-content-body">
                    {{course.desc}}
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>