/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

body {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
}

article.support-index section.sp-section h4, article.support-list section.sp-section h4, article.support-search-result section.sp-section h4, article.support-list-video section.sp-section h4, article.support-content section.sp-section h4 {
  display: block;
}
.categories .category-item {
  width: 100%;
  background-color: #00ADEF;
  color: #fff;
  display: block;
  text-align: center;
  margin: auto;
  font-size: 22px;
  font-weight:100;
}

.vt-section-title {
  color: #000;
  display: block;
  border-bottom: 1px solid #000;
}

.videos-section {
  margin-top: 40px;
}

.video-item {
  width:100%;
  padding: 10px;
  height: 100px;
}

.video-item div {
  border: 1px solid #cccccc;
  // border-radius: 3px;
}

.video-card {
  display: block;
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  background-color: #ffffff;
}
.video-card-body {
  display: block;
}

.video-card-picture {
  position: relative;
}
.video-card-picture > img {
  width: 100%;
  
}
.video-card-content {
  display: block;
  padding: 0 1.2rem 1.2rem 1.2rem;
}
.video-card-content > .video-card-content-header {
  display: table;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.header-info-text {
  display: block;
}

.video-card-content > .video-card-content-header > .header-info {
  display: table-cell;
  width: 100%;
  // padding-left: 1rem;
  font-size: 1rem;
  vertical-align: middle;
  line-height: 0;
  margin-bottom: 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  color: #575962;
}
.video-card-content > .video-card-content-header > .header-info > .header-info-text { 
  display: block;
  word-wrap: break-word;
  line-height: 1rem;
}

.video-card-content > .video-card-content-header > .header-stats {
  display: table-cell;
  font-size: 1rem;
  font-weight: 500;
  vertical-align: middle;
  line-height: 0;
  text-align: center;
}
.header-stats-number {
  text-align: center;
  display: inline-block;
  margin-bottom: 1.3rem;
  font-size: 1rem;
  font-weight: 600;
}
.header-stats-comment {
  display: inline-block;
  font-size: 0.85rem;
  display: inline-block;
  color: #afb2c1;
}

.video-card-content-body {
  display: block;
  color: #898b96;
}

.video-stats {
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
  padding: 0 10px;
}
.video-stats .thumb-stats {
  display: inline-block;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 8px;
  height: 30px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.video-stats .thumb-stats:first-of-type {
  margin-right: 5px;
  padding: 0 6px;
}
.video-stats .thumb-stats i {
  display: inline-block;
  color: #fff;
  margin-right: 5px;
  font-size: 14px;
}

.video-stats .thumb-stats span {
  color: #fff;
  font-size: 11px;
  display: inline-block;
}