/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

body {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
}

/* Loader */

.loading .containloader {
  display: block;
}

.loaded .containloader {
  display: none;
}

.containloader > .background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: .5;
}

.containloader {
  background: #fff;
  text-align: center;
  line-height: 100vh;
}

.zgroup {
  position: fixed;
  display: inline-block;
  line-height: 16px;
  z-index: 1050;
}

.bigSqr {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-animation: bigSqrShrink 1s linear infinite;
          animation: bigSqrShrink 1s linear infinite;
}

.square {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #00ADEF;
}

.first {
  left: 0px;
  top: 20px;
}

.second {
  left: 20px;
  top: 20px;
  -webkit-animation: drop2 1s linear infinite;
          animation: drop2 1s linear infinite;
}

.third {
  left: 0px;
  top: 0px;
  -webkit-animation: drop3 1s linear infinite;
          animation: drop3 1s linear infinite;
}

.fourth {
  left: 20px;
  top: 0px;
  -webkit-animation: drop4 1s linear infinite;
          animation: drop4 1s linear infinite;
}

@-webkit-keyframes bigSqrShrink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes bigSqrShrink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@-webkit-keyframes drop2 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  25% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes drop2 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  25% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes drop3 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes drop3 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes drop4 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  75% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes drop4 {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  75% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

/* End of Loader */
@media (min-width: 1000px) {
  section.sp-search.no-h3 {  
    padding-top: 30px 20px 60px !important;
  }
}

article.support-index section.sp-section h4, article.support-list section.sp-section h4, article.support-search-result section.sp-section h4, article.support-list-video section.sp-section h4, article.support-content section.sp-section h4 {
  display: block;
}

.categories .category-item {
  width: 100%;
  background-color: #00ADEF;
  color: #fff;
  display: block;
  text-align: center;
  margin: auto;
  font-size: 22px;
  font-weight:100;
}

.vt-section-title {
  color: #000;
  display: block;
  border-bottom: 1px solid #000;
}

.videos-section {
  margin-top: 40px;
}

.video-item {
  margin-top: 30px;
}

.video-card {
  display: block;
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  background-color: #ffffff;
}
.video-card-body {
  display: block;
}

.video-card-picture {
  position: relative;
}
.video-card-picture > img {
  width: 100%;
  
}
.video-card-content {
  display: block;
  padding: 0 1.2rem 1.2rem 1.2rem;
}
.video-card-content > .video-card-content-header {
  display: table;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.header-info-text {
  display: block;
}

.video-card-content > .video-card-content-header > .header-info {
  display: table-cell;
  width: 100%;
  // padding-left: 1rem;
  font-size: 1rem;
  vertical-align: middle;
  line-height: 0;
  margin-bottom: 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  color: #575962;
  line-height: 1.2rem;
  padding-right: 5px
}
.video-card-content > .video-card-content-header > .header-info > .header-info-text { 
  display: block;
  word-wrap: break-word;
}

.video-card-content > .video-card-content-header > .header-stats {
  display: table-cell;
  font-size: 1rem;
  font-weight: 500;
  vertical-align: middle;
  line-height: 0;
  text-align: center;
}
.header-stats-number {
  text-align: center;
  display: inline-block;
  margin-bottom: 1.3rem;
  font-size: 1rem;
  font-weight: 600;
}
.header-stats-comment {
  display: inline-block;
  font-size: 0.85rem;
  display: inline-block;
  color: #afb2c1;
}

.video-card-content-body {
  display: block;
  color: #898b96;
}

.video-stats {
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
  padding: 0 10px;
}
.video-stats .thumb-stats {
  display: inline-block;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 8px;
  height: 30px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
}
.video-stats .thumb-stats:first-of-type {
  margin-right: 5px;
  padding: 0 6px;
}
.video-stats .thumb-stats i {
  display: inline-block;
  color: #fff;
  margin-right: 5px;
  font-size: 14px;
}

.video-stats .thumb-stats span {
  color: #fff;
  font-size: 11px;
  display: inline-block;
}
.latest.category .video-count {
  float: right;
  margin-right:10px;
}

.vt-section-title .grid-options {
  float: right;
}
.vt-section-title > .grid-options > span > i {
  margin: 0px 3px;
  color: #05749e;
}

.vt-section-title > .grid-options > span {
  cursor: pointer;
}


.sp-section.category-section {
  padding: 20px 0 !important;
}

.breadcrumbs > a, 
.breadcrumbs > a:visited, 
.breadcrumbs > a:link,
.breadcrumbs > a:hover,
.breadcrumbs > a:active {
  color: #535a63;
  text-decoration: none;
}

.row div {
  -webkit-transition: width 0.3s ease, margin 0.3s ease;
  -moz-transition: width 0.3s ease, margin 0.3s ease;
  -o-transition: width 0.3s ease, margin 0.3s ease;
  transition: width 0.3s ease, margin 0.3s ease;
}